.create-replyModal-container {
    display: flex;
    width: 68%;
    height: 145px;
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid #e1e8ed;
    border-right: 1px solid #e1e8ed;
}

.replyId-form {
    width: 100%;
    margin-top: 20px;
}

.input-reply > input {
    width: 100%;
    border: none;
}
.input-reply {
    width: 98%;
    margin-left: 2%;
    height: 40px;
    border: none;
    background-color: transparent;
}

.input-tweet:focus-visible {
    outline: none;
}

.reply-btn {
    border: none;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    /* margin: 4px 2px; */
    cursor: pointer;
    border-radius: 16px;
    margin-left: 80%;
    width: 80px;
    justify-content: end;
    background-color: #1da1f2;
    color: white;
    font-size: 14px;
}

.reply-sessionUser-img {
    display: inline-block;
    width: 87px;
    height: 60px;
    border-radius: 50%;
    padding-left: 5px;
    padding-top: 5px;
    margin-top: 15px;
    margin-left: 10px;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
