.create-tweet-container {
    display: grid;
    width: 350px;
    max-height: 10000px;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border: 1px solid rgb(235, 235, 235);
}
.create-tweet-container > .tweet-form > .input-tweet > textarea {
    width: 350px;
}
