.create-tweet-container {
    display: grid;
    width: 350px;
    max-height: 10000px;
    border-left: none;
    border-right: none;
    border-bottom: none;
    justify-content: center;
    align-content: center;
}
.create-tweet-container > .tweet-form > .input-tweet > textarea,
input {
    width: 350px;
}
.input-tweet {
    width: 350px;
}
