.create-tweet-container {
    display: inline-block;
}
.input-tweet > input {
    width: 100%;
    border: none;
}
.input-tweet {
    width: 100%;
    display: inline-block;
}

.postTweet-btn {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    text-align: end;
    background-color: #26a7de;
}
.tweet-container > .user-things {
    display: inline-block;
    width: 100%;
}

.tweet-user-img {
    display: inline-block;
    width: 20%;
    height: 50px;
    border-radius: 50%;
    padding-left: 5px;
    padding-top: 5px;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
