.tweet-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
    margin-left: 22%;
}

.home-header {
    width: 68%;

    /* margin-left: 10px; */
    border-right: 1px solid #e1e8ed;
}

.home-header > h2 {
    margin-left: 30px;
}
.tweet-img {
    border-radius: 10px;
    max-height: 350px;
    object-fit: cover;
}

.tweet-img-container {
    display: flex;
    justify-content: center;
    width: 130%;
    padding-bottom: 15px;
}

.all-tweet-img {
    border-radius: 10px;
    max-height: 350px;
    object-fit: cover;
}

.all-tweet-img-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 15px;
}

.tweet-container {
    display: grid;
    width: 68%;
    /* max-height: 500px; */
    word-break: break-all;
    white-space: pre-wrap;
    cursor: pointer;
    position: relative;

    border-bottom: 1px solid #e1e8ed;

    border-right: 1px solid #e1e8ed;
}
.tweet-text > p {
    margin-left: 23%;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 5px;
}

.tweet-user-img-container {
    display: inline-block;
    width: 80%;
}

.username-container {
    display: inline-block;
    vertical-align: top;
    padding-top: 15px;
    margin-top: 5%;
    padding-left: 10px;
}

#user-text {
    color: black;
    opacity: 0.5;
    text-decoration: none !important;
}

.tweet-container > .user-things {
    display: inline-block;
    width: 100%;
}

.tweet-container > .tweet-text > h4 {
    text-align: right;
    margin-right: 70px;
}

.tweet-user-img {
    display: inline-block;
    width: 15%;
    height: 100px;
    border-radius: 50%;
    padding-top: 10px;

    margin-left: 5%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-bottom: 10px;
}

.tweet-container > .top-nav > ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    position: relative;
}

.tweet-created {
    display: inline-block;
    vertical-align: top;
    margin-left: auto;
    position: relative;
    left: 45%;
    top: 10px;
}

.tweet-container-extra {
    display: inline-block;
    width: 100%;
    height: 30px;
    flex-direction: row;
    justify-content: space-between;
}

.tweet-container-extra > h4 {
    display: inline-block;
}

.reply {
    display: inline-block;
    justify-content: start;
    margin-left: 25%;
}

@media (max-width: 1314px) {
    .tweet-container {
        width: 100%;
    }

    /* .tweet-section {
        margin-left: 10%;
    } */
}
