.tweet-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* width: 50%; */
    width: 50%;
    height: 100%;
    padding: 10px;
    margin-left: 19%;
}

.tweet-container {
    display: grid;
    width: 480px;
    max-height: 10000px;
    border-left: none;
    border-right: none;
    border-bottom: none;
    word-break: break-all;
    white-space: pre-wrap;
    cursor: pointer;
    /* border-top: 1px solid black; */
    border: 1px solid rgb(235, 235, 235);
}
.tweet-container > .tweet-text > h3 {
    text-align: left;
    margin-left: 40px;
    padding-right: 15px;
}

.tweet-user-img-container {
    display: inline-block;
    width: 80%;
}

.username-container {
    display: inline-block;
    padding-bottom: 10px;
    vertical-align: top;
    padding-top: 15px;
    padding-left: 10px;
}

#user-text {
    color: black;
    opacity: 0.5;
    text-decoration: none !important;
}

.tweet-container > .user-things {
    display: inline-block;
    width: 100%;
}

.tweet-container > .tweet-text > h4 {
    text-align: right;
    margin-right: 70px;
}

.tweet-user-img {
    display: inline-block;
    width: 20%;
    height: 50px;
    border-radius: 50%;
    padding-left: 5px;
    padding-top: 5px;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.tweet-img {
    max-width: 70%;
    max-height: 500px;
    /* position: relative; */
    margin-left: 75px;
    /* justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column; */
}

.tweet-container > .top-nav > ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    position: relative;
}
