.sessionUser-header {
    margin-left: 30%;
    /* height: 10%; */
    width: 40%;
    display: flex;
    border-right: 1px solid #e1e8ed;
}

.back-arrow {
    padding: 15px;
    padding-top: 20px;
    vertical-align: top;
}

.user-header {
    display: inline-block;
    /* padding-bottom: 5px; */
    /* padding: 5px 0 0 25px; */
}

.user-header > h3 {
    margin-bottom: 0 !important;
}
.user-header > p {
    margin-top: 0 !important;
}
.tweet-user-section {
    height: 10%;
    border: 1px solid #e1e8ed;
}

.tweet-user-section > .user-background-container {
    width: 100%;
    /* height: 150px; */
    position: relative;
}
.tweet-user-section > .user-background-container > .user-background {
    height: 200px;
    width: 100%;
}

.tweet-user-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* width: 50%; */
    width: 40%;
    height: 100%;
    margin-left: 30%;
    /* border-right: 1px solid rgb(235, 235, 235); */
}

.user-things-container {
    width: 100%;
    height: auto;
}

.profile-user-things {
    margin-left: 13%;
    margin-top: 9%;
}

.profile-user-things > h3 {
    margin-bottom: 0 !important;
}

.profile-user-things > h4 {
    margin-top: 0 !important;
}

.user-profile-pic {
    border-radius: 100%;
    height: 130px;
    width: 150px;
    margin-left: 4%;
    position: absolute;
    top: 215px;
    object-fit: cover;
    object-position: 50% 50%;
}

.user-bio {
    margin-left: 14%;
}

.follower-container {
    display: flex;
}

.follow-div {
    display: flex;
    padding: 15px;
}

.follow-btn {
    border: none;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    text-align: center;
    height: 40px;
    width: 70px;
    color: white;

    background-color: #1da1f2;
}

.followbtn-container {
    margin-left: 87%;
    height: 100%;
}
