.sessionUser-header {
    margin-left: 27%;
    /* height: 10%; */
    width: 50%;
    display: flex;
}

.back-arrow {
    padding: 15px;
    padding-top: 20px;
    vertical-align: top;
}

.user-header {
    display: inline-block;
    /* padding-bottom: 5px; */
    /* padding: 5px 0 0 25px; */
}

.user-header > h3 {
    margin-bottom: 0 !important;
}
.user-header > p {
    margin-top: 0 !important;
}
.tweet-user-section {
    height: 10%;
    border: 1px solid;
}

.tweet-user-section > .user-background-container {
    width: 100%;
    /* height: 150px; */
    position: relative;
}
.tweet-user-section > .user-background-container > .user-background {
    height: 200px;
    width: 100%;
}

.tweet-user-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* width: 50%; */
    width: 40%;
    height: 100%;
    margin-left: 28%;
    /* border-right: 1px solid rgb(235, 235, 235); */
}

.user-things-container {
    width: 100%;
}

.profile-user-things {
    margin-left: 13%;
    margin-top: 9%;
}

.profile-user-things > h3 {
    margin-bottom: 0 !important;
}

.profile-user-things > h4 {
    margin-top: 0 !important;
}

.user-profile-pic {
    border-radius: 100%;
    height: 130px;
    width: 150px;
    margin-left: 4%;
    position: absolute;
    top: 215px;
    object-fit: cover;
    object-position: 50% 50%;
}

.user-bio {
    margin-left: 14%;
}
