/* nav {
    width: 33%;
    height: 100%;
}

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;
}

nav > ul > li {
    display: block;
} */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.left-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    background-color: #26a7de;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.left-nav > ul {
    list-style-type: none;
}

.left-nav > ul > li {
    /* display: inline-block; */
    padding: 5px 15px;
    font-size: 30px;
}

/* .left-nav > ul > li > button {
    display: inline-block;
    padding: 5px 15px;
    font-size: 20px;
    border-radius: 40%;
    justify-content: end;
} */

button {
    cursor: pointer;
}

.list-end {
    position: absolute;
    bottom: 0;
    left: 5;
    /* height: auto; */
}

.list-end > img {
    height: 90px;
    width: 100px;
    border-radius: 50%;
    padding-left: 5px;
    padding-top: 5px;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
}
