/* nav {
    width: 33%;
    height: 100%;
}

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;
}

nav > ul > li {
    display: block;
} */

* {
    box-sizing: border-box;
    font-style: Helvetica Neue;
}

body {
    margin: 0;
    font-style: Helvetica Neue;
}

.left-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    /* background-color: #26a7de; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border-right: 1px solid rgb(235, 235, 235); */
    /* justify-content: center; */
}

.left-nav > .nav-items > ul {
    list-style-type: none;
}

li {
    list-style-type: none;
}
.left-nav > .nav-items > ul > li {
    /* display: inline-block; */
    padding: 5px 15px;
    font-size: 30px;
}

/* .left-nav > ul > li > button {
    display: inline-block;
    padding: 5px 15px;
    font-size: 20px;
    border-radius: 40%;
    justify-content: end;
} */
.nav-items {
    margin-left: 37%;
}
button {
    cursor: pointer;
}

.list-end {
    position: absolute;
    bottom: 0;
    left: 5;
    display: flex;
    height: auto;
}
.modal-info > img {
    height: 90px;
    width: 100px;
    border-radius: 50%;
    padding-left: 5px;
    padding-top: 5px;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
}

.nav-icon {
    /* padding-top: 25px; */
    margin-left: 38%;
}

.nav-icon > i {
    padding-top: 10px;
    margin-left: 15px;
}
.navbar-username {
    position: absolute;
    bottom: 0;
    padding-bottom: 20px;
    /* padding-left: 25%; */
    display: flex;
    cursor: pointer;
}

.threeDots {
    position: absolute;
    bottom: 0;
    display: flex;
    margin-left: 55px;
    cursor: pointer;
}

.modal-info {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 30%;
}

#nav-username {
    margin-left: 10px;
    padding-bottom: 10px;
}

@media (max-width: 1314px) {
    .nav-items {
        margin-left: 30%;
    }
    .list-item-label {
        display: none;
    }

    .left-nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 10%;
        height: 100%;
        /* background-color: #26a7de; */
        display: flex;
        flex-direction: column;
        align-items: center;
        /* border-right: 1px solid rgb(235, 235, 235); */
    }
}
