#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
    position: absolute;
    background-color: white;
    border-radius: 20px;
    width: 250px;
    height: 300px;
}

.login-header,
.modal-icon {
    display: flex;
    justify-content: center;
}

.modal-icon {
    padding-top: 20px;
}

#smodal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#smodal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

#smodal-content {
    position: absolute;
    background-color: white;
    border-radius: 20px;
    width: 350px;
    height: 540px;
}

.smodal-icon {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

#emodal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#emodal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

#emodal-content {
    position: absolute;
    background-color: white;
    border-radius: 20px;
    width: 250px;
    height: 250px;
    padding-left: 10px;
}
.emodal-icon {
    display: flex;
    justify-content: center;
}

.edit-label {
    display: flex;
    justify-content: center;
}
#lomodal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

#lomodal-content {
    position: absolute;
    background-color: white;
    border-radius: 20px;
    width: 200px;
    height: 200px;

    padding-left: 10px;
}
.lomodal-icon,
.logout-header,
.logout-btn-container {
    display: flex;
    justify-content: center;
}

#rmodal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

#rmodal-content {
    position: absolute;
    background-color: white;
    border-radius: 20px;
    width: 200px;
    height: 220px;

    padding-left: 10px;
}

.rmodal-icon {
    display: flex;
    justify-content: center;
}

.reply-btn {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    text-align: center;
}
