.tweet-id-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
    /* padding: 10px; */
    margin-left: 22%;
}

.tweet-id-container {
    display: grid;
    width: 68%;
    /* max-height: 10000px; */
    border-left: none;
    border-right: none;
    border-bottom: none;
    word-break: break-all;
    white-space: pre-wrap;
    border-top: none;

    /* margin-top: 25px; */
    border: 1px solid #e1e8ed;
}

.tweet-id-container > .tweet-text > h1 {
    text-align: center;
    margin-left: 20px;
    padding-right: 15px;
}

/* .tweet-id-container > .user-things > .username-container {
    align-content: start;
} */

.tweet-id-container > .user-things > .user-modal {
    justify-content: flex-end;
    display: flex;
}

.tweetId-userImg-container {
    display: inline-block;
    width: 100%;
}

.user-modal {
    display: inline-block;
    vertical-align: top;
    margin-left: auto;
    position: relative;
    left: 53%;
}

.user-rmodal {
    display: inline-block;
    vertical-align: top;
    margin-left: auto;
    position: relative;
    left: 85%;
}

.tweet-text > h3 {
    margin-left: 30px;
    padding-right: 15px;
}

.tweet-text > h4 {
    text-align: right;
    margin-right: 70px;
}
.vtweet-created {
    display: inline-block;
    vertical-align: top;
    margin-left: auto;
    position: relative;
    left: 100%;
}

.tweetId-container-extras {
    width: 100%;
    flex-direction: row;
    display: flex;
    margin-left: 15%;
}

.tweetid-header {
    margin-left: 30%;
    /* height: 10%; */
    width: 34%;
    display: flex;
    border-right: 1px solid #e1e8ed;
}

.back-arrow {
    padding: 15px;
    padding-top: 20px;
    vertical-align: top;
}

.tweetId-text {
    margin-left: 30px;
    padding-right: 15px;
}

.tweetId-text > h2 {
    margin-left: 70px;
}

.tweetId-just-text {
    /* display: flex; */
    text-align: center;
}
