.tweet-id-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
    /* padding: 10px; */
    margin-left: 20%;
}

.tweet-id-container {
    display: grid;
    width: 480px;
    max-height: 10000px;
    border-left: none;
    border-right: none;
    border-bottom: none;
    word-break: break-all;
    white-space: pre-wrap;
    border: 1px solid rgb(235, 235, 235);
    position: sticky;
}

.tweet-id-container > .tweet-text > h1 {
    text-align: left;
    margin-left: 40px;
    padding-right: 15px;
}

.tweet-id-container > .user-things > .username-container {
    align-content: start;
}

.tweet-id-container > .user-things > .user-modal {
    justify-content: flex-end;
    display: flex;
}
