.login-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 500px;
    /* margin: 2rem auto; */
    padding-left: 2rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
}

.login-btn {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    text-align: center;
}
